.container{
	font-size: 0;
}

h2 {
	display: block;
}

.item a {
	border: 2px solid #000;
	padding: 8px 36px;
	background-color: #fff;
	margin-bottom: 40px;
	display: inline-block;
}

.imgBox {
	background-position: center;
	background-size: cover;
	height: 240px;
	position: relative;
    overflow: hidden;
}

.item {
	text-align: center;
	font-size: 16px;
}
.smallItem {
	
	display: inline-block;
	width: 50%;
}